.container {
    text-align: center;
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}
.header {
    background-image: url("../img/Sections-background/section-1(header).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    z-index: 1;
}

.nav-bar-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 32px;
    color: #ffffff;
}

.nav-bar-list {
    display: flex;
    justify-content: center;
    margin-left: 279px;
}

.nav-bar-link {
    display: flex;
    margin-right: 20px;
    padding: 50px 0 50px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    position: relative;
}

.nav-bar-link:hover{
    color: #18CFAB;
}

.nav-bar-link:hover:after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background-color: #18cfab;
    position: absolute;
    top: 116px;
}

.header-text {
    padding: 266px 0 22px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 35px;
    color:#ffffff;
}

.header-text-color {
    color: #18CFAB;
}

.header-text-creative {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 80px;
    color: #ffffff;
}

.header-some-text {
    padding-bottom: 150px;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    font-size: 34px;
    color: #D4D4D4;
}

.header-button {
    display: inline-block;
    width: 169px;
    padding: 20px 0;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 -5px 0 #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 15px;
    /*text-align: center;*/
    text-transform: uppercase;
    color: #FFFFFF;
    transition: all .3s;
}

.header-button:hover {
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.4);
    background-color: #00a096;
    transform: translateY(-4px);
}

.button-header-green {
    background: #18CFAB;
    margin:0 26px 241px;
}

.btn-purchase {
    background: #00CBF6;
}

.option {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    width: 100%;
}

.option-block {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-top: 10px solid #18CFAB;
    width: 100%;
    height: 377px;
    background: #1C2A33;
    text-decoration: none;
}

.option-text {
    padding-top: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    color: #18CFAB;
}

.option-customizable {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-top: 10px solid #ffffff;
    width: 100%;
    height: 377px;
    background: #18CFAB;
    text-align: center;
    text-decoration: none;
}

.option-text-customizable {
    padding-top: 58px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.our-services-title {
    padding-top: 82px;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 36px;
    color: #4E4E4E;
}

.underline::after{
    content:"";
    background-color: #18CFAB;
    height: 2px;
    width: 80px;
    display: block;
    margin: 25px auto 75px;
    box-shadow: 15px 5px 0 #18CFAB;
}

.our-services-list {
    display: flex;
}

.our-services-list .active {
    background: #18CFAB;
    color: #ffffff;
}

.our-services-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100px;
    flex-grow: 1;
    background: #F8FCFE;
    border: 2px solid #EDEFEF;
    width: 192px;
    padding: 20px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #717171;
    cursor: pointer;
    position: relative;
}

.our-services-item.active:after {
    content: '';
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 10px solid rgb(24, 207, 171);
    position: absolute;
    top: 56px;
}

.our-services-list .our-services-item:not(.active) {
    cursor: pointer;
}

.our-services-list .our-services-item:not(.active):hover {
    border: 2px solid #7DCA86;
}
.our-services-web-design {
    display: none;
    margin: 23px 0 90px;
}

.our-services-web-design.active {
    display: flex;
}

.our-services-image {
    height: 139px;
}

.our-services-web-design-text {
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
    overflow: hidden;
}

.purchase {
    background-image: url("../img/Sections-background/section-2.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.7);
}

.purchase-title {
    padding: 127px 0 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    color: #18CFAB;
}

.purchase-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #D8D8D8;
    padding-bottom: 70px;
}

.purchase-link {
    display: inline-block;
    width: 169px;
    padding: 20px 0;
    margin-bottom: 127px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 -5px 0 #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #18CFAB;
}

.purchase-link:hover {
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.4);
    background-color: #00a096;
    transform: translateY(-4px);
    transition: all .3s;
}

.our-work {
    background: #F8FCFE;
}

.our-work-title {
    padding-top: 95px;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    color: #4E4E4E;
}

.our-work-list {
    display: flex;
    justify-content: center;
    margin-bottom: 71px;
}

.our-work-item {
    border: 2px solid #EDEFEF;
    padding: 29px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #717171;
}

.our-work-item:hover{
    color: #18CFAB;
    border: 2px solid #18CFAB;
    cursor: pointer;
}

.active-our-work {
    color: #18CFAB;
    border: 2px solid #18CFAB;
}

.our-work-images {
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;
    align-items: stretch;
}

.items-image {
    position: relative;
    height: 206px;
    width: 290px;
}

.image-amazing {
    width: 100%;
}

.hover-amazing-items {
    display: flex;
    justify-content: center;
    border-top: 3px solid #18cfab;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    background: rgb(248, 252, 254);
    top: 0;
    position: absolute;
    height: 211px;
    width: 100%;
    transition: all .7s;
}

.items-image:hover .hover-amazing-items {
    opacity: 1;
}

.fa-link-circle {
    color: #18cfab;
    font-size: 15px;
}

.fa-plus-button {
    font-size: 16px;
}

.search-link {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.circle-link {
    text-decoration: none;
}
.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
}

.link {
    border: 2px solid #18cfab;
    margin-right: 5px;
}

.search {
    background-color: #18cfab;
    margin-left: 5px;
    color: #fff;
}

.hover-creative-design {
    margin-top: 34px;
    font-family: 'Montserrat', sans-serif;
    color: #18cfab;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.hover-web-design {
    font-family: 'Montserrat', sans-serif;
    color: #8a8a8a;
    font-size: 12px;
    font-weight: 300;
    margin-top: 12px;
}

.our-work-button {
    display: inline-block;
    width: 169px;
    padding: 20px 0;
    margin: 70px 0 100px;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #18CFAB;
}

.our-work-button:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
    background-color: #00a096;
    transform: translateY(-5px);
    transition: all .3s;
}

.our-work-button-image {
    margin-right: 15px;
}

.breaking-news-title {
    padding-top: 82px;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    color: #4E4E4E;
}
.breaking-news-box {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    height: 600px;
    margin-bottom: 130px;
}

.breaking-news-image {
    background: #F8FCFE;
    border: 1px solid #F2F4F5;
    position: relative;
    text-decoration: none;
}

.breaking-news-feb {
    position: absolute;
    width: 70px;
    height: 68px;
    right: 0;
    top: 0;
    background: #203E38;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
}

.breaking-news-image-title {
    margin-left: 10px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 39px;
    color: #717171;
}

.breaking-news-image:hover .breaking-news-feb {
    background-color: #18cfab;
}

.breaking-news-image:hover .breaking-news-image-title {
    color: #18cfab;
}

.breaking-news-text {
    margin: 0 0 10px 12px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #777777;
}

.client-feedback {
    background-image: url("../img/Sections-background/section-3.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.client-feedback-title {
    padding-top: 98px;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    color: #FFFFFF;
}

.content-block-people {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1160px;
}

.authors-main-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description-author {
    font-family: 'Montserrat', sans-serif;
    color: #bbbbbb;
    font-size: 16px;
    font-weight: 300;
    margin-top: 46px;
}

.fa-quote-left-people-say {
    color: #18cfab;
    font-size: 30px;
}

.name-author {
    font-family: 'Montserrat', sans-serif;
    color: #18cfab;
    font-size: 16px;
    font-weight: 700;
    margin-top: 43px;
}

.position-author {
    font-family: 'Montserrat', sans-serif;
    color: #bbbbbb;
    font-size: 13px;
    font-weight: 300;
    margin-top: 10px;
}

.mini-circle-photo {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    overflow: hidden;
    box-shadow: 0 0 0 4px rgba(31, 218, 181, 0.2);
    transition: all .3s;
    margin: 0 20px;
}

.mini-circle-photo:hover {
    cursor: pointer;
}

.mini-circle-border {
    border: 1px solid #18cfab;
    transform: translateY(-10px);
    transition: all .3s;
}

.image-block-author {
    display: flex;
    justify-content: center;
    border-radius: 100%;
    border: 2px solid #18cfab;
    width: 140px;
    height: 140px;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 27px;
    box-shadow: 0 0 0 10px rgba(31, 218, 181, 0.2);
}

.image-author {
    width: 100%;
}

.scroll-block-authors {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    width: 480px;
    height: 170px;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(188, 188, 188);
}

.square:hover {
    background-color: #18cfab;
    cursor: pointer;
}

.fa-angle {
    color: white;
    font-size: 13px;
}

.karusel {
    display: flex;
}


.footer {
    background: #22353F;
    text-align: center;
}

.footer-copyright {
    padding: 50px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #AEAEAE;
}

.footer-copyright-color {
    color: #18CFAB;
    text-decoration: none;
}